.header-input {
}

@media (min-width: 300px) and (max-width: 400px) {
	.header-input {
		width: 19rem;
		padding-left: 3rem;
		margin-left: -4%;
	}
}
@media (min-width: 401px) and (max-width: 500px) {
	.header-input {
		width: 25rem;
		padding-left: 3rem;
		box-sizing: border-box;
		margin-left: -4%;
	}
}
@media (min-width: 501px) and (max-width: 600px) {
	.header-input {
		width: 31rem;
		padding-left: 3rem;
		box-sizing: border-box;
		margin-left: -3%;
	}
}
@media (min-width: 601px) and (max-width: 700px) {
	.header-input {
		width: 38rem;
		padding-left: 3rem;
		box-sizing: border-box;
		margin-left: -3%;
	}
}
